[submodule "addons/product_connect"]
	path = addons/product_connect
	url = https://github.com/cbusillo/product_connect
	ignore = dirty
[submodule "addons/disable_odoo_online"]
	path = addons/disable_odoo_online
	url = git@github.com:cbusillo/disable_odoo_online
	ignore = dirty
[submodule "addons/cm_custom"]
	path = addons/cm_custom
	url = https://github.com/cellmechanic/cm_custom.git
	ignore = dirty
[submodule "addons/external_ids"]
	path = addons/external_ids
	url = https://github.com/cbusillo/external_ids.git
	ignore = dirty
