x-common: &common
  depends_on:
    - database
  volumes:
    - ./docker/scripts:/volumes/scripts
    - ./addons:/volumes/addons
    - ./pyproject.toml:/opt/project/pyproject.toml:ro
    - ./addons:/opt/project/addons  # PyCharm debugging compatibility
services:
  web:
    <<: *common
    ports:
      - "${ODOO_WEB_HOST_PORT:-8069}:8069"
      - "${ODOO_LONGPOLL_HOST_PORT:-8072}:8072"
  database:
    ports:
      - "${ODOO_DB_HOST_PORT:-5432}:5432"
  script-runner:
    <<: *common
  shell:
    <<: *common
