// Brand Colors
$o-brand-odoo: #e65938;
$o-brand-primary: #1071b6;

// Specific Element Overrides
.sc_refresh_button_row {
    width: 1rem; /* Use relative units instead of fixed 10px */
}

.o_list_record_open_form_view {
    width: 40px;
}

// Compact Button Badge
.o_selection_badge.btn-reset {
    padding: 0.1rem 0.25rem;
    font-size: 0.5rem;
}

// Form View Adjustments
.o_form_view .o_form_sheet_bg,
.o_form_view .o_form_renderer {
    width: 100%;
    max-width: none;
}
.o_list_view .text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Green Checkmark
.o_list_view .o_data_cell .green_checkmark {
    display: inline-block;
    font-family: "FontAwesome", sans-serif;
    font-size: 1.2em;
    color: #28a745; /* Green color */
    width: 20px;
    text-align: center;
}

.o_list_view .o_data_cell .green_checkmark input {
    display: none;
}

.o_list_view .o_data_cell .green_checkmark:before {
    content: "\f00c"; /* FontAwesome checkmark */
}

// Text Limiting for Rows
.sc_text_limited_lines {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Default: single line */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 1.5em;
    transition: max-height 0.2s ease-in-out;
}

// Expanded Row Behavior
.o_list_view .o_data_row:focus-within .sc_text_limited_lines {
    -webkit-line-clamp: unset; /* Removes clamping */
    white-space: normal;
    overflow-y: auto;
    max-height: 15em; /* Expands for more content */
}
